.header {
    background-color: #30C9E9;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

ul {
    background-color: #30C9E9;
}

.nav-item a {
    margin-right: 20px;
    text-decoration: none;
}